__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

data/faces/**
!data/faces/.gitkeep

data/models/*.xml
data/models/*.pkl
!data/models/.gitkeep

data/attendance/*.db
data/attendance/exports/*.csv

.DS_Store
